<template name="signIn">
  <div class="text-center">
    <div class="kadira-logo">
        <a href="/"><img src="/images/kadira-logo-light.png" alt="logo"></a>
    </div>
    <div class="container">
      <div class="col-md-4 col-md-offset-4">
        {{#if state$isLoggedIn}}
          <div class="alert alert-danger">You are already logged in</div>
        {{/if}}
        {{#if state$error}}
        <div class="alert alert-danger">{{state$error}}</div>
        {{/if}}
        {{#if state$isSignInPage}}
          <form class="form" id="sign-in-with-email">
            <div class="form-group">
              <input autofocus="" name="email" type="email" class="form-control" placeholder="{{i18n 'signIn.email'}}">
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control" placeholder="{{i18n 'signIn.password'}}">
            </div>

            <p><a href="/forgot-password">{{i18n "signIn.forgot_your_password"}}</a></p>
            <button type="submit" class="submit btn btn-block btn-default">{{i18n "signIn.sign_in"}}</button>
          </form>
          <hr>
          <p class="sign-up-link">{{i18n "signIn.dont_have_a_kadira_account"}} <a href="/sign-up">{{i18n "signIn.sign_up"}}</a></p>
        {{/if}}
        {{#if state$isSignUpPage}}
          <hr>
          <p class="sign-in-link">{{i18n "signIn.already_have_a_kadira_account"}} <a href="/sign-in">{{i18n "signIn.sign_in"}}</a></p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
